
NET "LCD_E" 	LOC = "AB4" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_RS" 	LOC = "Y14" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_RW" 	LOC = "W13" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB7" 	LOC = "Y15" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB6" 	LOC = "AB16" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB5" 	LOC = "Y16" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB4" 	LOC = "AA12" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB3" 	LOC = "AB12" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB2" 	LOC = "AB17" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB1" 	LOC = "AB18" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LCD_DB0" 	LOC = "Y13" 		;//| IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;